body {
      font-family: helvetica;
}
h1  {
     border: 5px solid black;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     padding-top: 10px;
     padding-bottom: 10px;
     float: center;
     clear: all;
}
div#dumbo  {
         border: 5px solid black;
}
img#dumbopic  {
               margin: 30px;
}
p#dumbocopy  {
              float: left;
}
