body {
      font-family: helvetica;
}
h1  {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     float: center;
     
}
.wrapper {
         border: 5px solid black;
         max-width: 1200px;
         min-width: 400px;
         margin: 20px;
}

.wrapper.dogs {
         max-height: 750px;
         min-height: 330px;
          
}
img#dumbopic  {
               float: left;
               margin: 20px;
                  
}
p#dumbocopy  {
              margin-left: 20px;
              margin-right: 20px;
}
#plushie  {
              border: 5px solid black;
}
img#plushiepic  {
                float: right;
                margin: 20px;
}
p#plushiecopy  {
              text-align: right;
              margin-right: 100px;
}
nav  {
      clear: all;
      text-align: center;
      border: 5px solid black;
      margin: 20px;
      height: 150px;
}
a.buttons  {
           color: white;
           background-color: blue;
           min-width: 100px;
           height: 30px;
           padding: 15px;
           margin: 20px;
           text-decoration: none;
           text-align: center;
}
#previous  {
            float: left;
            
}
#home  {
        margin-left: 10px;
        margin-right: 10px;
}
#next  {
        float: right;
        



