body {
      font-family: helvetica;
}
h1  {
     text-align: center;
     margin-left: auto;
     margin-right: auto;     
}
.wrapper {
         border: 5px solid black;
         max-width: 1200px;
         min-width: 400px;
         margin: 20px;
}

.wrapper.dogs {
         max-height: 750px;
         min-height: 330px;
          
}
#dumbopic  {
               float: left;
               margin: 20px;
                  
}
#dumbocopy  {
              margin-left: 20px;
              margin-right: 20px;
}
#plushie  {
              border: 5px solid black;
}
#plushiepic  {
                float: right;
                margin: 20px;
}
#plushiecopy  {
              text-align: right;
              margin-right: 100px;
}
nav  {   border: 5px solid black;
         max-width: 1200px;
         min-width: 400px;
         height: 100px;
         margin: 20px;
}
a.buttons  {
           text-align: center;
           color: white;
           background-color: blue;
           min-width: 100px;
           height: 20px;
           padding: 20px;
           margin: 20px;
           text-decoration: none;
}
#previous  {
            float: left;
}
#home  {
        float: left;
        margin-left: auto;
        margin-right: auto;
}
#next  {
        float: right;
}
        



