body {
      @font-face {
      font-family: 'FontAwesome';
      src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
      src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
      font-weight: normal;
      font-style: normal;
}
h1  {
     text-align: center;
     margin-left: auto;
     margin-right: auto;     
}
.wrapper {
         border: 5px solid black;
         max-width: 1200px;
         min-width: 400px;
         margin: 20px;
}

.wrapper.dogs {
         max-height: 750px;
         min-height: 330px;
          
}
#dumbopic  {
               float: left;
               margin: 20px;
                  
}
#dumbocopy  {
              margin-left: 20px;
              margin-right: 20px;
}
#plushie  {
              border: 5px solid black;
}
#plushiepic  {
                float: right;
                margin: 20px;
}
#plushiecopy  {
              text-align: right;
              margin-right: 100px;
}
nav  {   border: 5px solid black;
         max-width: 1200px;
         min-width: 400px;
         height: 100px;
         margin: 20px;
}
a.buttons  {
           text-align: center;
           color: white;
           background-color: blue;
           min-width: 100px;
           height: 20px;
           padding: 20px;
           margin: 20px;
           text-decoration: none;
}
#previous  {
            float: left;
}
#home  {
        margin: auto;
        max-width: 100px;
}
#next  {
        float: right;
}
        



