
/** CSS RULES GO IN HERE */
strong {
	    font-weight: normal;
}
p  {
	font-size: 48px;
	font-family: Garamond, times new roman, times, serif;
	margin: 0px;

}
p strong  {
	       color: rgb(52, 121, 225);
}
p strong:hover  {
	      font-style: italic;
}
.categories:first-child {
	                     font-family: helvetica;
}



