      body {
          font-family: "Inconsolata-Regular";
          color: black;
          font-size: 12px;
          background-color: RGB(199, 239, 225);
          text-decoration: none;ß
      }
      @font-face {
                  font-family: "Inconsolata-Regular";
                  src: url("./fonts/Inconsolata/Inconsolata-Regular.ttf");
      }
      h1 {
        
        margin: 0px;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 36px;
        border: 0px solid black;
      }
      #contents {
               
                 float: left;
                 margin: 0px 30px 0px 0px;
                 padding-left: 0px;
                 padding-top: 0px;

                 border: 0px solid black;

      }
      #contents li {
                    list-style-type: none;
                    line-height: 1.6;

      }
      a  {  
          text-decoration: none; 
          color: #000;
      }
      #video {  float: left;
                border: 1px solid black;
                margin-top: 16px;
                margin-left: 100px;
            
      }
      .lines-button arrow arrow-left  {
                                       
                                       color: black;

      }
