body {
          background: url("http://i.imgur.com/FiG43bC.jpg");
          background-size: tile;
          font-family: helvetica;
          color: white;
          margin: 80px;
    }
    li {
        margin: 30px 0px 10px 0px;
    }
    h1 {
        margin: 80px 80px 80px 0px;
       font-size: 50px;
    }